:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.select-card {
  
  display: block; 
  position: fixed;
  margin-top: 20rem;
  margin-left: 17rem;
  margin-right: 17rem;
}

.card-display {

  display: block; 
  font-size: 20px; 
  margin-top: 13rem;
  margin-left: 15rem;
  margin-right: 15rem;

}
}
